*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/androidgroup/godelivery/AlreadyLoggedInActivity.java
app/src/main/java/com/androidgroup/godelivery/AlreadyLoggedInActivity.java
*.java
